.box {
  @apply w-full h-full dark:bg-neutral-900 bg-white shadow-xl rounded-md dark:text-white p-6;
}

h1 {
  @apply text-xl md:text-2xl lg:text-3xl font-bold;
}

h2 {
  @apply text-lg md:text-xl lg:text-2xl font-semibold mb-4 dark:text-white;
}
