---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Layout from "../layouts/Layout.astro";
import SocialsLink from "../components/SocialsLink.astro";
---

<Layout title={`${SITE_TITLE} - Portfolio`} description={SITE_DESCRIPTION}>
  <div class="h-full grid md:grid-cols-5 md:grid-rows-2 md:p-16 md:gap-10 p-4 gap-4">
    <div
      class="w-full h-full border-2 dark:border-white border-black rounded-md dark:text-white p-4 md:col-span-2"
    >
      <h1>
        <span class="text-sm md:text-base">Hi i'm</span>
        <br /><span
          class="text-2xl md:text-3xl p-1 font-bold bg-gradient-to-r from-violet-500 to-red-400 via-fuchsia-500 bg-clip-text text-transparent"
          >Justin Jiraratsakul</span
        >
      </h1>
      <h2 class="text-sm md:text-base mt-1">
        I am a student at Chulalongkorn University, studying electrical
        engineering. I have a deep interest in web development. I love to learn
        new things and conquer new challenges. Beyond web development, I also
        provision servers, configure routers, and much more. I also use Python
        for some of my work!
      </h2>
    </div>
    <div
      class="w-full h-full border-2 dark:border-white border-black rounded-md dark:text-white p-4 md:col-span-3 md:row-span-2"
    >
      <h2 class="text-base md:text-xl font-bold">Here are my projects</h2>
    </div>
    <div
      class="w-full h-full border-2 dark:border-white border-black rounded-md dark:text-white p-4 md:col-span-2"
    >
      <h2 class="text-base md:text-xl font-bold">Let's Get In Touch</h2>
      <h3 class="text-sm md:text-base">
        If you have any inquiries or want to hire me, don't hesitate to contact
        me
      </h3>
      <div class="mt-1">
        <ul class="list-disc ml-6">
          <li>
            On Instagram: <a
              href="https://instagram.com/jus.jira"
              class="text-blue-700 dark:text-blue-500">@Jus.Jira</a>
          </li>
          <li>
            On Facebook: <a
              href="https://facebook.com/jus.jira"
              class="text-blue-700 dark:text-blue-500">@Jus.Jira</a>
          </li>
          <li>
            On Github: <a
              href="https://github.com/jusjira"
              class="text-blue-700 dark:text-blue-500">@JusJira</a>
          </li>
          <li>
            Via E-Mail: <a
              href="mailto:jus.jira@gmail.com"
              class="text-blue-700 dark:text-blue-500">jus.jira@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
