---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const projects = (await getCollection("projects"))
  .filter((a) => a.data.featured)
  .sort((a, b) => a.data.order - b.data.order);

import ProjectCard from "../components/ProjectCard.astro";
---

<script>
  import { annotate } from "rough-notation";

  document.fonts.ready.then(() => {
    const el = document.getElementById("software-developer");
    if (!el) return;
    const annotation = annotate(el, {
      type: "underline",
      color: "#F59E0B",
      strokeWidth: 2,
      padding: 2,
    });

    annotation.show();
  });
</script>

<Layout title={`${SITE_TITLE} - Portfolio`} description={SITE_DESCRIPTION}>
  <div class="h-full md:p-16 p-4 flex flex-col gap-8">
    <div class="dark:text-white flex flex-col w-full gap-4">
      <h1>
        Hi, I'm Justin - a <span id="software-developer" class="text-nowrap"
          >Software Developer</span
        > based in Thailand
      </h1>
      <span class="text-lg text-neutral-400">
        I love coding, tinkering, and having fun. Whether I'm building websites,
        experimenting with new technologies, or optimizing for performance and
        usability, I'm always excited to dive into creative projects
      </span>
    </div>
    <div>
      <h2>My Skills & Tools</h2>
      <div class="text-neutral-400 flex gap-8 text-lg">
        <ul>
          <li>JavaScript / TypeScript</li>
          <li>React.js / Next.js</li>
          <li>Svelte / SvelteKit</li>
          <li>Golang</li>
        </ul>
        <ul>
          <li>Python</li>
          <li>Docker</li>
          <li>SQL / NoSQL</li>
          <li>CI/CD</li>
        </ul>
      </div>
    </div>
    <div>
      <h2>My Projects</h2>
      <div class="text-neutral-400 flex gap-2 text-lg flex-wrap">
        {
          projects.map((project) => (
            <ProjectCard
              name={project.data.title}
              iconName={project.data.iconName || "link"}
              href={`/projects/${project.slug}/`}
            />
          ))
        }
      </div>
    </div>
    <div>
      <h2>Let's Get In Touch</h2>
      <ul class="list-disc ml-6 text-neutral-400">
        <li>
          On LinkedIn: <a
            href="https://www.linkedin.com/in/jusjira/"
            class="link">Justin Jiraratsakul</a
          >
        </li>
        <li>
          On Github: <a href="https://github.com/jusjira" class="link"
            >@JusJira</a
          >
        </li>
        <li class="text-balance">
          Via E-Mail: <a href="mailto:jus.jira@gmail.com" class="link"
            >jus.jira@gmail.com</a
          >
          <a href="mailto:justin@kon.in.th" class="link">จัสติน@คน.ไทย</a>
        </li>
      </ul>
    </div>
  </div>
</Layout>
<style>
  .link {
    @apply dark:text-amber-400 underline underline-offset-1;
  }
</style>
