---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[className, { active: isActive }]}
  {...props}
  data-astro-prefetch
>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
    color: #a3a3a3;
    text-size: 1.25rem;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
    border-bottom: 1px solid transparent;
  }
</style>
