---
import type { CollectionEntry } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"projects">["data"];

const { title, description } = Astro.props;
import "../styles/project.css";
---

<Layout title={`${SITE_TITLE} - Projects`} description={SITE_DESCRIPTION}>
  <article class="max-w-5xl md:px-16 p-4 dark:text-white m-auto">
    <div>
      <div class="my-10">
        <div
          class="text-center dark:text-neutral-300 text-neutral-600 font-thin"
        >
        </div>
        <h1 class="text-4xl font-bold text-center">{title}</h1>
        <p>{description}</p>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</Layout>
